@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #F8B195, #F67280, #C06C84, #6C5B7B, #355C7D);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 2px solid #000;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Zentriert Logo und Titel horizontal */
    flex-grow: 1; /* Lässt diesen Container den verfügbaren Platz ausnutzen */
}

header h1 {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333;
    margin: 0;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.box {
    width: 250px; /* Ändere die Breite nach deinen Wünschen */
    height: 200px; /* Ändere die Höhe nach deinen Wünschen */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Box-Schatten beim Hovern */
}

.box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.box p {
    font-size: 1em;
    margin: 0;
}


.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h2{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #999;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
    height: 280px;
}
.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}
