@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom, #F8B195, #F67280, #C06C84, #6C5B7B, #355C7D);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Hintergrundposition auf fixed setzen */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 0.2vh solid #000;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
    z-index: 1000;
    box-sizing: border-box;
}

.main-content {
    flex: 1; /* Ensures the main content takes up available space */
    overflow-y: auto; /* Falls der Inhalt scrollbar ist */
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Zentriert Logo und Titel horizontal */
    flex-grow: 1; /* Lässt diesen Container den verfügbaren Platz ausnutzen */
}

header h1 {
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px;
    overflow-y: auto;

}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}



.box {
    width: 300px; /* Festlegen der Breite der Boxen */
    height: 300px; /* Festlegen der Höhe der Boxen */
    margin: 0px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}
.newsBox {
    width: 300px; /* Festlegen der Breite der Boxen */
    height: 300px; /* Festlegen der Höhe der Boxen */
    margin: 0px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    overflow: auto;
}

.box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Box-Schatten beim Hovern */
}

.box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.box p {
    font-size: 1em;
    margin: 0;
}

.addBox {
    display: flex;
    width: 300px; /* Festlegen der Breite der Boxen */
    height: 300px; /* Festlegen der Höhe der Boxen */
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
}


.add_symbol_image{
    width: 150px;
    height: 150px;
}

.add_symbol_image:hover{
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center; /* Zentriert die Boxen horizontal */
}

.login-button-container{
    display: flex;
    justify-content: flex-end; /* Korrigiert von 'right' zu 'flex-end' */
    align-content: center;
}

.loginButton{
    padding: 5px;
    font-size: 1vw;
    background-color: #355C7D;
    color: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.removeSymbol{
    float: right;
    width: 20px;
    height: 20px;
    padding: 10px 10px 10px 5px;
}

.removeSymbol:hover{
    transform: scale(1.1);
}

.menuSymbol{
    float: right;
    width: 25px;
    height: 25px;
    padding: 7px 2px;
}

.menuSymbol:hover{
    transform: scale(1.1);
}

.newsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    overflow: auto;


}

.newsPicContainer {
    width: 200px;
    height: 100px;
    padding: 1px;
    justify-content: center;
    align-items: center;


}

.newsPic {
    margin-top: 5px;
    width: 100%;
    height: auto;
    max-height: 100%;
}

.h4ForNews {
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
}


.descriptionForNews {
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}

.logo-Container{
    width: 50px;
    height: 50px;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.assetLogo{
    width: 100%;
    hight: 100%;
    float: left;
}

.box-text-content{
    color: #333;
    justify-content: center;
    align-content: center;
    display: flex;
    margin: 0;
    padding: 5px;
}
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}




@media only screen and (max-width: 768px) {
    .box {
        width: 100px; /* Reduziere die Breite der Boxen */
        height: 100px; /* Reduziere die Höhe der Boxen */
        padding: 3px; /* Reduziere den Innenabstand der Boxen */
    }

    .box h1,
    .box h2 {
        font-size: 0.8em; /* Kleinere Schriftgröße für den Titel */
        margin-bottom: 3px; /* Verringere den Abstand unter dem Titel */
    }

    .box p {
        font-size: 0.6em; /* Kleinere Schriftgröße für den Text */
        margin: 0; /* Entferne den Standardabstand des Absatzes */
    }

    .addBox {
        width: 100px;
        height: 100px;
        padding: 3px;
    }

    .add_symbol_image {
        width: 70px; /* Neue Breite für das Hinzufügen-Symbol */
        height: 70px; /* Neue Höhe für das Hinzufügen-Symbol */
    }


    .logo-Container{
        width: 50px;
        height: 50px;
        justify-content: left;
        align-content: center;
        padding: 1px;
    }

    .assetLogo {
        width: 50%; /* Verwende 100% der Breite des Containers */
        height: auto; /* Automatische Höhe beibehalten */
    }

    .removeSymbol{
        float: right;
        width: 8px;
        height: 8px;
        padding: 3px; /* Angepasstes Padding für das Entfernungs-Symbol */
    }

    .menuSymbol{
        float: right;
        width: 10px;
        height: 10px;
        padding: 3px; /* Angepasstes Padding für das Menü-Symbol */
    }

   .chartInBoxes{
       display: none;
   }


}


